
# Скомпилированные файлы
**/bin/
**/obj/

# Папка плагинов (генерируется при сборке)
**/Plugins/

# Настройки IDE
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates

# Файлы операционной системы
.DS_Store
Thumbs.db

# Выходные файлы
*.nupkg
*.suo
*.cache
*.log
